@import '../../commun/styles/sass/mixins';

.mainBlock {
  background-color: aquamarine;
  border: 2px solid green;
  height: 100vh;

  .mainContainer {
    background-color: orange;
    @include flex(row, space-around, center, wrap);
    overflow-wrap: break-word;
    height: 100%;

    .nav {
      flex: 1;
      @include flex(row, center, flex-start, wrap);


      border: 1px solid yellow;
      background-color: dimgrey;
      width: 100px;
      height: 100%;
    }

    .content:nth-of-type(2) {
      flex: 10;
      border: 1px solid blue;
      background-color: olivedrab;
      width: 100px;
      height: 100%;
    }
  }

}