@import '../../../../../../commun/styles/sass/mixins';


.statusContainer {
  background-color: darkgrey;

  .statusBlock {
    color: black;
  }

  .inputStatusBlock {
    font-size: medium;
    color: darkslategrey;
  }


}