@import '../../../../../commun/styles/sass/mixins';

.friendsContainer {
  width: 100%;
  height: 100%;
  @include flex(column, space-around, flex-start, wrap);


  .titleFriends {
    text-align: center;
    border: 1px solid;
    padding: 20px;
  }

  .friendsBlock {
    width: 100%;
    height: 100%;
    background-color: wheat;
    @include flex(column, space-around, flex-start, wrap);
    padding: 10px;
  }
}