@import 'src/commun/styles/sass/mixins';

.header {
  @include flex(column, center, flex-end, wrap);
  background-color:dimgrey;
border: 1px solid black;
  height: 60px;
  width: 100%;
  text-align: center;
  color: gold;


  .loginBlock {

    background-color: dimgrey;
    margin: 30px;
  }
}