@import '../../../../../../commun/styles/sass/mixins';


.dialogContainer {
  @include flex(column, flex-start, center, wrap);
  background-color: darkkhaki;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;


  .dialog {

    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;


  }

}