@import 'src/commun/styles/sass/mixins';

.mainBlock {
  background-color: aquamarine;
  border: 2px solid green;

  .mainContainer {
    background-color: orange;
    @include flex(row, space-around, center, wrap);
    overflow-wrap: break-word;

    .nav {
      flex: 1;
      border: 3px solid yellow;
      background-color: dimgrey;
      width: 100px;
      height: 90vh;
    }

    .content:nth-of-type(2) {
      flex: 10;
      border: 3px solid blue;
      background-color: olivedrab;
      @include flex(column, space-around, center, wrap);
      width: 100px;
      height: 90vh;
    }
  }

}