@import '../../../../../../commun/styles/sass/mixins';



.avaContainer {
  @include flex(row, space-around, center, wrap);
  /*background-color: red;*/
  width: 200%;

  .photo {
    width: 100%;
  }
  .input{
    width: 100%;
  }
}