@import '../../../../../../commun/styles/sass/mixins';



.avaContainer {
  @include flex(column, space-around, center, wrap);
  background-color: red;
  width: 100%;

  .photo {
    width: 100%;
  }
}