@import 'src/commun/styles/sass/mixins';

.profileContainer {
  text-align: center;
  background-color: coral;
  border: 2px solid blue;

  @include flex(column, space-around, center, wrap);

  .coverBlock {
    /*    flex: 1;*/
    background-image: url('./../assets/images/istockphoto-1228962068-612x612.jpg');
    background-size: cover;
    background-position: center;
    width: 100vh;
    height: 200px;
  }

  .personalInfo:nth-of-type(2) {
    /*    flex: 3;*/
    width: 100vh;
    height: 500px;
  }
}