@import '../../../../../commun/styles/sass/mixins';


.PersonalContainer {
  margin-top: 10px;
  background-color: darkgoldenrod;
  height: 100%;
  width: 100%;
  @include flex(row, space-between, center, wrap);

  .avaBlock {
    flex: 1;
    background-image: url('./../../../../../assets/images/ava.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;

    margin: 10px;

  }

  .personalDataBlock:nth-of-type(2) {
    flex: 6;
    width: 100%;
    border: 1px solid blue;
    background-color: orange;
    margin: 10px;

  }
}